<h1 mat-dialog-title class="text-center">Kampagne erstellen</h1>
<hr>

<div mat-dialog-content fxLayout="row" fxLayoutAlign="center">
  <form [formGroup]="campaignForm" fxFlex="80">
    
    <!-- name input -->
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-label [ngClass]="{'label-error': errorLabel('name')}" class="text-right nd-label" fxFlex.gt-sm="20">Kampagnenname*:</mat-label>
      <mat-form-field class="nd-add-campaign-input" fxFlex.gt-sm="60" appearance="none">
        <input id="name" type="text" matInput formControlName="name" placeholder="Kampagne erstellen">
        <mat-error *ngIf="campaignForm.get('name').hasError('required') || campaignForm.get('name').hasError('invalid')">This field is required</mat-error>
      </mat-form-field>
    </div>

    <!-- campaign input -->
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-label [ngClass]="{'label-error': errorLabel('customer')}" class="text-right nd-label" fxFlex.gt-sm="20">Kunde*:</mat-label>
      <mat-form-field class="nd-add-campaign-input" fxFlex.gt-sm="60" appearance="none">
        <input id="customer" type="text" matInput formControlName="customer" placeholder="Kunde erstellen">
        <mat-error *ngIf="campaignForm.get('customer').hasError('required') || campaignForm.get('customer').hasError('invalid')">This field is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Duration input -->
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-label class="text-right nd-label" fxFlex.gt-sm="20">Laufzeit:</mat-label>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex.gt-sm="60">

        <!-- Start -->
        <mat-label class="text-right nd-label-secondary" fxFlex.gt-sm="15">Start:</mat-label>
        <mat-form-field class="nd-add-campaign-input" fxFlex.gt-sm="30" appearance="none" color="white">
          <input id="startDate" matInput [matDatepicker]="datepickerStart" (click)="datepickerStart.open()" formControlName="startDate" [max]="campaignForm.get('endDate').value">
          <mat-datepicker-toggle matPrefix [for]="datepickerStart">
            <mat-icon>calendar</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #datepickerStart></mat-datepicker>
          <mat-error *ngIf="campaignForm.get('startDate').errors">Error on date </mat-error>
        </mat-form-field>

        <!-- End -->
        <mat-label class="text-right nd-label-secondary" fxFlex.gt-sm="15">Ende  :</mat-label>
        <mat-form-field class="nd-add-campaign-input" fxFlex.gt-sm="30" appearance="none" color="white">
          <input id="endDate" matInput [matDatepicker]="datepickerEnd" (click)="datepickerEnd.open()" formControlName="endDate" [min]="campaignForm.get('startDate').value">
          <mat-datepicker-toggle matPrefix [for]="datepickerEnd">
            <mat-icon>calendar</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #datepickerEnd></mat-datepicker>
          <mat-error *ngIf="campaignForm.get('endDate').errors">Error on date </mat-error>
        </mat-form-field>

      </div>
    </div>

    <!-- status input -->
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-label class="text-right nd-label" fxFlex.gt-sm="20">Status:</mat-label>
      <mat-form-field class="nd-add-campaign-input" fxFlex.gt-sm="60" appearance="none" color="white">
        <mat-select formControlName="status">
    
          <mat-option *ngFor="let stat of statusList" [value]="stat">{{stat}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="end center" style="margin-bottom: 10px;">
      <button mat-button color="secondary" class="mat-elevation-z2" (click)="onNoClick()">Abbrechen</button>
      <button mat-button color="primary" class="mat-elevation-z2" type="submit" (click)="addCampaign()">Erstellen</button>
    </div>
  </form>
</div>