@import '../../../assets/styles/colors';

.mat-form-field{
  background-color: #fff !important;
}

.label-error{
  color: #f44336 !important;
}

::ng-deep.nd-add-campaign-input div.mat-form-field-flex{
  width: -webkit-fill-available;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-right + .nd-add-campaign-input{
  margin-left: 8px;
}

::ng-deep.mat-dialog-container{
  padding: 24px 0;
  overflow: hidden;
}

.nd-label{
  font-size: 16px;
  color: $nd-black;
  line-height: 26px;
  font-weight: bold;
}

.nd-label-secondary{
  font-size: 14px;
  color: $nd-black;
  line-height: 26px;
  font-weight: normal;
}

.nd-add-campaign-input{
  font-size: 14px;
}

hr{
  margin-bottom: 46px;
}

::ng-deep.mat-calendar-body-selected{
  background-color: $nd-primary-color;
}