@import '../../../assets/styles/colors';

.nd-filter{
  background-color: $nd-light-gray;
  height: 60px;
  padding: 12px 16px;
  color: $nd-dark-gray;
  border: 1px solid $nd-gray;
  border-bottom: none;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
}

.mat-form-field {
  margin: 0 0 0 16px;
}

::ng-deep .mat-form-field-wrapper{
  margin-top: 12px;
}

::ng-deep div.mat-form-field-flex{
  background: #fff;
  border-radius: 3px;
  border: solid 1px $nd-gray;
  padding: 3px 2px 3px 10px;
  width: 438px;
}

.qty-chip{
  background-color: $nd-primary-color;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.qty-chip + .mat-icon{
  width: 16px;
  height: 16px;
  color: $nd-primary-color;
  font-size: 16px;
  margin-left: 6px;
}

.nd-status-chip{
  background-color: $nd-light-blue;
  width: 89px;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 0 8px 0 8px;
  border-radius: 2px;
  font-size: 14px;
  border: none;
  color: $nd-black;
  .mat-icon{
    width: 16px;
    height: 16px;
    color: $nd-primary-color;
    font-size: 16px;
  }
}

::ng-deep .mat-pseudo-checkbox-checked{
  background: $nd-primary-color;
}

@media screen and ( max-width: 768px) {
  ::ng-deep div.mat-form-field-flex{
    width: auto;
    height: auto;
  }

  .nd-status-chip {
    display: none !important;
  }

  .nd-filter{
    height: auto;
  }
}