<div class="nd-filter" fxLayout="row wrap" fxLayoutAlign="end center">
  Status filtern:
  <mat-form-field color="white">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="status" multiple (selectionChange)="onChange($event)">

      <mat-select-trigger fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="status.value?.length"  fxLayout="row">
          <button class="nd-status-chip" *ngFor="let stat of status.value" (click)="removeFilter($event, stat)" fxLayoutAlign="space-between center">
            <span>{{stat}}</span>
            <mat-icon>close</mat-icon>

          </button>
        </div>
        <div *ngIf="status.value?.length > 0" fxLayout="row" fxLayoutAlign="end center" (click)="removeFilter($event)">
          <div class="qty-chip" fxLayout="row" fxLayoutAlign="center center">
            {{status.value.length}}
          </div>
          <mat-icon>close</mat-icon>
        </div>
      </mat-select-trigger>

      <mat-option *ngFor="let stat of statusList" [value]="stat">{{stat}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
