<p id="nd-toolbar">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Kampagnenmanager</span>
  </mat-toolbar>
</p>

<mat-card class="mat-elevation-z2">
  <mat-card-title fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <div>Alle Kampagnen</div>
        <div class="nd-subtitle">({{displaying}} / {{total}})</div>
      </div>
      <button mat-button color="primary" class="mat-elevation-z2" (click)="openDialog()">{{ 'Kampagne erstellen' | uppercase }}</button>
    </mat-card-title>
    <app-filter-campaigns></app-filter-campaigns>
    <app-campaigns-table></app-campaigns-table>
</mat-card>

