<div class="nd-table-wrapper">
  <table mat-table matSort [dataSource]="dataSource" class="campaign-table" fixedLayout="true">

    <ng-container *ngFor="let key of displayedColumns" matColumnDef="{{key}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ parseKey(key) }} </th>
      <td mat-cell *matCellDef="let campaign"> 
        <span *ngIf="isDate(key)">  <span class="label-on-mobile">{{ parseKey(key) }}: </span> {{parseDate(campaign[key]) | date: 'dd-MM-yyyy' }} </span>
        <span *ngIf="!isDate(key)"> <span class="label-on-mobile">{{ parseKey(key) }}: </span> {{campaign[key] }} </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>