@import '../../../assets/styles/colors';

.campaign-table {
  width: 100%;
  width: 100%;
  color: $nd-black;
}

th{
  background-color: $nd-light-gray;
  color: $nd-black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 24px !important;
}

th.mat-header-cell:first-child{
  border-left: solid 1px $nd-gray;
}

th.mat-header-cell:last-child{
  border-right: solid 1px $nd-gray;
}

td.mat-column-CSID{
  color: $nd-primary-color;
  text-decoration: underline;
}

td{
  border: solid $nd-gray;
  border-width: 0px 1px 0px 0px;
  font-size: 16px;
  padding-left: 24px !important;
}

.label-on-mobile{
  display: none;
  font-weight: bold;
  color: $nd-black !important;
  margin-right: 12px;
}

@media screen and ( max-width: 768px) {
  .label-on-mobile{
    display: initial;
  }

  tr.mat-header-row{
    overflow: hidden;
    width: 100%;
  }

  th.mat-header-cell{
    display: block;
    width: 100%;
    overflow: hidden;
    padding-right: 0 !important;
  }
  
  ::ng-deep thead{
    display: none;
  }

  tr.mat-row{
    display: table;
    border-bottom: 2px solid $nd-gray;
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
  }

  td.mat-cell{
    display: block;
    padding-right: 0 !important;
    border: none;
  }
}

.nd-table-wrapper {
  overflow-x: scroll;
  max-height: 650px;
  border: solid 1px $nd-gray;
  th{
    position: sticky;
    top: 0;
  }
}

::ng-deep .mat-sort-header-arrow {
  opacity: 100 !important;
  color: $nd-primary-color;
}