/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors';


html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $nd-body;
}

.mat-primary {
  background-color: $nd-primary-color !important;
}

.mat-button{
  border-radius: 2px !important;
  text-transform: uppercase;
}

.mat-button.mat-primary{
  color: #fff;    
}

.mat-button.mat-secondary{
  color: $nd-primary-color;
}

.mat-button + .mat-button {
  margin-left: 16px;
}

.mat-toolbar {
  font-size: 24px;
  letter-spacing: 0.86px;
}

.mat-card {
  margin: 40px 32px 0 !important;
  padding: 32px 32px 45px !important;
  border-radius: 2px !important;
}